<%- include("header") %>

<body>

  <%- include("leftbar") %>


  <%- include("navbar") %>

<!-- main body -->
<div class="br-mainpanel">
    <div class="br-pagetitle">
    <div class="container-fluid p-5">
        <form action="/categorylists" method="post">
            <% if(categories != ''){ %>
                <table class="table">
                    <thead class="thead-dark bg-dark text-white">
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
						<% categories.forEach((category,index)=>{ %>
							<tr class="align-items-center">
								<td><%= index %></td>
                                <td><%= category.title %></td>
                                <td> <img src="../../static/uploads/<%=category.image %>" width="50px" class="img-thumbnail"> </td>
                                <td><%= category.status %></td>
                                <td class="">
                                    <a href="/categories/update-category/<%=category._id%>" class="btn border-shadow updatebtn">
                                        <span class="text-gradient text-info"><i class="fa-solid fa-pen-to-square"></i></span>
                                    </a>
                                    <a href="/categories/delete-category/<%=category._id%>" class="btn border-shadow deletebtn" >
                                        <span class="text-gradient text-danger"><i class="fa-solid fa-trash"></i></span>
                                    </a>
                                </td>
                            </tr>
                        <% }) %> 
                    </tbody>
                </table>
            <% } else { %>
                <h1 class="text-cwntwr text-secondary my-5">No users found in the datrabase!</h1>
            <% } %>
            
        </form>
    </div>
</div>
</div>
<!-- main body end-->


<!-- footer -->
<%- include("footer") %> 
<!-- footer -->

