<%- include("header") %>

<body>

  <%- include("leftbar") %>


  <%- include("navbar") %>

<!-- main body -->
<div class="br-mainpanel">
    <div class="br-pagetitle">
    <div class="container-fluid p-5 d-flex justify-content-center">
        <form action="/postDetailsLists" method="post">
            <% if(postdetails != ''){ %>

                <table id="table" class="text-center">
                    <thead class="thead-dark bg-dark text-white">
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Short Description</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% postdetails.forEach((post,index)=>{ %>
                            <tr class="align-items-center">
                                <td><%= index %></td>
                                <td><%= post.title %></td>
                                <td><%= post.content %></td>
                                <td><%= post.shortDescription %></td>
                            
                                <td> <img src="../../static/uploads/<%=post.image %>" width="50px" class="img-thumbnail"> </td>
                                <td><%= post.status %></td>
                                <td>
                                    <a href="/update-postDetails/<%=post._id%>" class="btn border-shadow updatebtn">
                                        <span class="text-gradient text-info"><i class="fa-solid fa-pen-to-square"></i></span>
                                    </a>
                                    <a href="/delete-postDetails/<%=post._id%>" class="btn border-shadow deletebtn" >
                                        <span class="text-gradient text-danger"><i class="fa-solid fa-trash"></i></span>
                                    </a>
                                </td>
                            </tr>
                        <% }) %> 
                    </tbody>
                </table>
                <% } else { %>
                    <h1 class="text-cwntwr text-secondary my-5">No posts found in the database!</h1>
                <% } %>
            
        </form>
    </div>
</div>
</div>
<!-- main body end-->


<!-- footer -->
<%- include("footer") %> 
<!-- footer -->

