<%- include("headerblogdetails") %>

<main class="blogdetails">

    <section class="blog-details">
      <article class="container">
        <figure class="row">
          <% postDetails.forEach(function(postdetails){ %>

          <div class="col-sm-12">
            <div class="blog-details-heading">
              <h2><%= postdetails.title %></h2>
              <p>
                <%= postdetails.content %>
              </p>
            </div>

            <div class="blog-details-img">
              <div class="blog-details-img-heading">
                <img src="../../static/user/images/pruvit-hq.png" alt="" class="img-fluid" />
                <p>Prüvit HQ</p>
              </div>

              <img
                src="../../static/uploads/<%= postdetails.image %>"
                alt=""
                class="img-fluid blog-details-inner-img"
              />
            </div>

            <div class="blog-details-ingredients">
              <h3>Ingredients</h3>
              <ul>
                <li>1 packet KETO//OS® Unleashed Eclipse</li>
                <li>1 packet KETO//OS® NAT™ Swiss Cacao</li>
                <li>2 tbsp sugar-free chocolate syrup</li>
                <li>1 cup almond milk</li>
                <li>1-2 cup ice</li>
                <li>Maraschino cherries</li>
                <li>Dark chocolate</li>
              </ul>
            </div>

            <div class="blog-details-instructions">
              <%= postdetails.shortDescription %>

            </div>

            <div class="blog-details-category">
              <a href="#" class="btn btn-light">Recipes</a>
              <a href="#" class="btn btn-light">Keto Lifestyle</a>
            </div>

            <div class="blog-details-share">
              <ul class="blog-details-social">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-pinterest-p"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-reddit-alien"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-envelope"></i>
                  </a>
                </li>
              </ul>

              <button  class="button button-primary blog-shop"> Shop </button>
            </div>
          </div>
          <% }) %>

        </figure>
      </article>
    </section>

    <!-- END of blog-details -->

    <section class="blog-details-comments">
      <article class="container">
        <figure class="row">
          <div class="col-sm-12">
            <h3 class="blog-details-comments-heading">Responses</h3>

            <div class="form-wrap">
              <form class="short-form">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend comments-from-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <img src="../../static/user/images/woman.png" alt="" class="img-fluid" />
                      </span>
                    </div>
                    <input
                      type="text"
                      class="sk-form-control form-control comments-from-control"
                      placeholder="Write a replay..."
                    />
                  </div>
                </div>
              </form>

              <form class="full-form" method="POST" action="/comments/doComment" id="commentForm">
                <h6>Write your response</h6>
                <p>
                  Your email address will not be published. Required fields are
                  marked *
                </p>
                <div class="form-group">
                  <input
                    type="name"
                    name="name"
                    id="name"
                    class="form-control sk-form-control"
                    placeholder="First name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control sk-form-control"
                    placeholder="Email address"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    type="text"
                    name="comment"
                    id="comment"
                    class="form-control sk-form-control comments-textarea"
                    placeholder="Your response"
                  ></textarea>
                </div>

                <div class="form-group">
                  <div class="g-recaptcha" data-sitekey="6LeODrQiAAAAAC5WeWXfEkdBmavTDB55-vzzrxBr"></div>
                </div>
               
                <button type="submit" class="button button-primary button-fullwidth blogdetails-btn">
                  Submit
                </button>
              </form>
            </div>
            
            <% postComments.forEach(function(comments){ %>
            <div class="card comments-details">
              <div class="card-body">
                <div class="image">
                  <img src="../../static/user/images/woman1.png" alt="woman" class="img-fluid" />
                </div>
                <div class="comments-content">
                  <h5 class="card-title"><%= comments.name %></h5>
                  <h6 class="comments-date"><%= comments.email %></h6>
                  <p class="card-text">
                    <%= comments.comment %>
                  </p>
                </div>
              </div>
            </div>
            <% }) %>

            

            <p class="text-center comments-seemore">
              <a href="#"> see more </a>
            </p>
          </div>
        </figure>
      </article>
    </section>
    <!-- END of comments -->

    
   
    
      
      
    <%- include("footerblogdetails") %>
