<%- include("header") %>

    <main class="blog">
      <section class="blog-top containerImage">
        <article class="container blog-container">
          <figure class="row blog-title">
            <div class="col-sm-12 text-center">
              <h1 class="color-black"> Blog </h1>

              <h4 class="color-black blog-title-b">
                Catch up on current trends from leading throught-leaders in the
                ketone space.
              </h4>
            </div>
          </figure>

          <figure class="row blog-slider-wrap">
            <div class="col-sm-12 sk-main__banner-slider">
              <% posts.forEach(function(post){ %>
                
              <div class="blog-inner-cont bg-image" style="background-image: url('../../static/uploads/<%= post.image %>');">
                <div class="blog-text">
                  <p class="color-white blog-subtitle-s">
                    <%= post.title %>                  </p>
                  <h2 class="color-white blog-subtitle">
                    <%= post.content %>                  </h2>
                  <p class="blog-slider-description color-white">
                    <%= post.shortDescription %>
                  </p>
                  <div class="blog-slider-btn">
                      <a href="/blogdetails" 
                      class="button button-primary buy-now-lg sk-main__banner-custom-btn"
                    >Read Post</a>
                   
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </figure>
        </article>
      </section>
      <!-- end blog-top -->
      <section class="blog-topic">
        <article class="container">
          <div class="row">
            <div class="col-sm-12 blog-topic-title">
              <h3>Topics</h3>
            </div>
          </div>

          <figure class="row blog-topic-container">
            <% categories.forEach(function(category){ %>

            <div class="col-sm-6 col-md-3">
              <div
                class="topic-inner"
                style="background-image: url('../../static/uploads/<%= category.image %>');"
              >
                <div class="topic-inner-text color-white">
                  <h3><%= category.title %></h3>
                </div>
              </div>
            </div>
            <% }) %>


            
          </figure>
        </article>
      </section>
      <!-- END of blog-topic -->

      <section class="latest-post">
        <article class="container">
          <figure class="row">
            <div class="col-12">
              <div class="latest-post-title">
                <h3>Latest Post</h3>
              </div>
            </div>
            <% if(posts != ''){ %> 
            <% posts.forEach(function(post){ %>
            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url('../../static/uploads/<%= post.image %>')"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="/post/<%= post._id %>" class="color-black">
                      <%= post.title %>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <% }) %>
            <% } %>
            <!-- <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/post/images/costa-rica.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Socializing is MORE important than you think
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/post/images/more.png)"
                ></div>
                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Monitoring Ketone And Blood Glucose Levels On A Low Carb
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/post/images/road.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Chocolate-Covered Cherry Frappeketo™
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/post/images/bload.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Socializing is MORE important than you think
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/post/images/coffe.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Monitoring Ketone And Blood Glucose Levels On A Low Carb
                    </a>
                  </p>
                </div>
              </div>
            </div> -->
            <div class="col-12 text-center blog-posts-seemore">
              <a href="#"> see more </a>
            </div>
          </figure>
        </article>
      </section>
      <!-- END of latest-post -->
    </main>
    <!-- end of blog -->

    <!-- end for main  -->

<%- include("footer") %>
